.party-loot-textarea {
  border: 2px solid black;
  color: black;
  max-width: 800px;
  min-width: 400px;
  height: 500px;
  padding: 10px;
}

.party-loot-output {
  margin-left: 1rem;
  border: 2px solid red;
  padding: 10px;
  background-color: blanchedalmond;
  max-width: 800px;
  min-width: 400px;
}

.party-loot-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.party-loot-button {
  height: 56px;
  width: 200px;
  border: 1px solid rebeccapurple;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.mainContent {
  width: 100%;
}
